.stepper-container {
  .stepper-step-container {
    display: flex;
    flex-direction: row;

    .stepper-step-content {
      width: 100%;
      display: flex;
    }
  

    .stepper-step-legend {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 15%;
      align-items: center;

      .stepper-step {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 3.5rem;
        position: relative;

        .stepper-step-icon {
          background-color: white;
          border: 0.1rem solid lightcoral;
          border-radius: 50%;
          width: 3rem;
          height: 3rem;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 0.75rem;

          img {
            height: 1.75rem;
            width: 1.75rem;
          }
        }

        &:before {
          content: "";
          position: absolute;
          border-left: 0.1rem solid lightcoral;
          left: 23%;
          top: 100%;
          height: 3.5rem;
        }

        &:last-child {
          margin-bottom: 0;

          &:before {
            content: none;
          }
        }

        &:hover {
          .stepper-step-icon {
            border-color: blue;
          }
        }
      }
    }
  }
}
.stepper-button{
  display: flex;
  margin-top: 3rem;
  align-content: center;
}

